/* fonts */

div.jqcloud {  font-family: '微软雅黑';  font-size: 10px;  line-height: normal;}

div.jqcloud a {  font-size: inherit;  text-decoration: none;}

div.jqcloud span.w10{ font-size: 36px; }
div.jqcloud span.w9 { font-size: 32px; }
div.jqcloud span.w8 { font-size: 30px; }
div.jqcloud span.w7 { font-size: 28px; }
div.jqcloud span.w6 { font-size: 24px; }
div.jqcloud span.w5 { font-size: 20px; }
div.jqcloud span.w4 { font-size: 18px; }
div.jqcloud span.w3 { font-size: 16px; }
div.jqcloud span.w2 { font-size: 14px; }
div.jqcloud span.w1 { font-size: 12px; }

/* colors */

div.jqcloud { color: #fff; }
div.jqcloud a { color: #fff; }
div.jqcloud a.orange{ color: #ff6000;}

/* layout */

div.jqcloud {  display: inline-block; position: relative;}

div.jqcloud span{ float: left; display: inline-block; cursor: pointer;}

div.jqcloud span p{ float: left; position: absolute; top: 30px; left: 20px;}