li{list-style: none}
img{border: none;}
a{text-decoration: none;}
.left{ float: left;}
.right{float: right;}
body{font-size:14px; font-family:'微软雅黑';}
body{ background: #fff;}
button,input,textarea{outline: none; font-family:'微软雅黑';}
*html{_background-image:url(about:blank);_background-attachment:fixed;}
.clear{overflow: hidden;height: 0px;clear: both;width: 100%}

.info-wrap{ width: 1144px; margin: 0 auto; padding: 32px 0 60px 0; color: #3f3f3f}
.info-main{ width: 763px; padding: 35px 0px 0px 0px; position: relative; background: #fff; box-shadow: 1px 1px 3px #d0d0d0;}
.touli{ position: absolute; right: 20px; top: 100px; display:block; width: 90px; height: 35px; line-height: 35px; background: #319897; color: #fff; text-align: center;}

.info-main h2,.job-name{/*font:bold 16px/1.5em \5B8B\4F53;*/ font-weight:bold; font-size:16px; line-height: 30px;}
.job-name{ color: #3f3f3f; font-weight: normal; font-size: 13px;}
/*.info-main h2{margin-top: 15px; font-size: 14px; color: #666;}*/
.job_name{ width: 100%;  position: relative; color: #004088; margin-bottom: 10px; font-size: 20px; border-bottom: 1px dashed #b5b5b5; padding: 15px 0px 20px;}
.fu_ad{ color: #757575; line-height: 30px; font-size: 14px;}
.data_see{ position: absolute; top: -10px; right: 0;}
.data_see p{ height: 22px; line-height: 22px; background: url(../images/eye_l.png) 0px 4px no-repeat;  font-size: 12px; text-indent: 22px;  display: block;}
.data_see p.data_see_a{background: url(../images/time.png) 0px 2px no-repeat;}
.data_see p.data_see_c{background: url(../images/jianli_num.gif) 0px 2px no-repeat; }
.fu_ad span{ margin-right: 20px;}
.fu_ad font{ color: #010101; margin-right: 5px;}
.gzdd{ margin-top: 15px;}
.info-main p{line-height: 2em; color: #2d2d2d;}
.job-name span{padding-right: 22px;color: #444}
.info-main p a{color: #7c5bc7;}

/*岗位职责 begin*/
.job-desc{width:701px; margin: 15px auto 0; color: #555; line-height: 25px; padding-bottom: 20px; border-bottom: 1px solid #c6c6c6;}
.bar-code-box{background:#fff;border: 1px solid #EAEEF5;}
.ewm_box{ margin-top: 20px; color: #333;}
.ewm{ width: 295px; overflow: hidden; margin-top: 20px;}
.ewm img{ margin: 0 auto;}
.ewm p,.ewm div{ font-size: 12px; text-align: left;}
.ewm div{ line-height: 20px; color: #545454;}
/*.job-desc div{ padding: 0px 10px;}*/
.job-desc h3{padding-bottom: 18px;font:bold 14px/1em \5B8B\4F53;color: #444;text-indent: 4px}
.job-desc ul{padding-left: 28px}
.job-desc li{line-height: 2em}
.to-employ{margin-top:30px; display: inline-block;}
.to-employ_right{width:100%;}
.jiathis_style_add{float:right; margin-right:10px;}
.to-employ a.toEmplay{ margin-left: 230px; margin-right: 25px; display:inline-block; width: 140px; height: 50px; line-height: 50px; background: #45c29d; color: #fff; text-align: center; font-size: 18px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.to-employ a.toEmplay:hover{ background: #17b385;}
.to-employ a.grey_tou{ background:#c6c6c6; color:#fff;}
.to-employ a.sc{ color: #0066cc;}
/*.info-wrap .to-employ a:hover{background: #5d9cec;}*/
.info-tips{margin-top: 30px;text-indent:2px;color: #F21F1F}
.img-job-desc{padding: 3px;margin-top: 0px}
.img-job-desc img{max-height: 720px;max-width: 100%;
	display: block;
	_height:expression(eval(this.offsetHeight > 720 ? 720 : this.offsetHeight));
	_width:expreesion(eval(this.offsetWidth > (this.parentNode.offsetWidth - 6) ? (this.parentNode.offsetWidth - 6) : this.offsetWidth));
/*	cursor: url('../fonts/big.cur'), auto!important;*/
}
.sharejob_jianli_1,.sharejob_jianli_2{ float: left;  margin-top: 30px; max-width: 300px; overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}
.saosao{ float: left; margin-left: 50px; position: relative; z-index: 0; padding-right: 10px; cursor: pointer;}
.erwei_bgs{ position: absolute; top: -108px; left: 65px; width: 160px;  display: none; border-radius: 3px; padding: 25px; background: #63b796; color: #fff; text-align: center;}
.erwei_bgs img{ width: 130px; height: 130px;}
.erwei_bgs dd{ margin-top: 10px; line-height: 24px;}
.erwei_bgs i{position: absolute;  top: 50%; left: -20px; border: 10px solid #63b796; border-color:  #fff #63b796 #fff #fff; display: block; font-size: 0px; height: 0; width: 0;-webkit-transition:transform 0.2s ease 0s; -moz-transition:transform 0.2s ease 0s;-o-transition:transform 0.2s ease 0s;transition:transform 0.2s ease 0s;}

/*岗位职责 end*/


.bar-code-box{margin: 40px 0 10px;/*text-align: center;*/}
/*.bar-code-box img{margin-left: -50px}*/
.service-statement{padding-top: 45px;text-align: center; margin-top: 20px;}
.service-statement a{color: #006699}
/*公司信息*/
.gs_part{ width: 243px; overflow: hidden; background: #fff; box-shadow: 1px 1px 3px #d0d0d0;}
.gs_logo_con{width:100%; overflow: hidden;}
.gs_logo_con .img_a{ width: 100%; display: block; margin: 40px 0 6px; text-align: center;}
.gs_logo_con img{  width: 158px; height: 158px; border: 1px solid #cbcbcb; margin: 0 auto; }
.zw_gsmc{ width: 100%; overflow: hidden; text-align: center; /*margin-bottom: 15px;*/}
.zw_gsmc a{ color: #555; font-size: 16px;}
.gs_logo_brif{ padding: 8px 15px 0; overflow: hidden; line-height: 24px; color: #555;} 
.gs_logo_brif a{float: left; width: 142px; color: #999; word-break:break-all; word-wrap:break-word; text-decoration: underline; overflow: hidden; text-overflow:ellipsis;}
.gs_logo_brif a:hover{ color: #32b16c;}
.gs_logo_brif em{float: left;}
.gs_logo_brif span{color: #999;}
.gs_logo_brif p{ width: 100%; overflow: hidden; margin-bottom: 5px;}
.gstitle_list,.p_Label{ width: 100%; overflow: hidden; height: 32px; line-height: 32px; margin-top: 15px; font-size: 18px; color: #333;}
.gstitle_list i,.p_Label i{width: 8px; height: 18px; background: #45c29d; float: left;
margin-top: 7px; margin-right: 6px;}
.gstitle_list span,.p_Label span{/*width: 100px; text-align: center;*/ /*background: #c6c6c6;*/ /*color: #fff;*/ float: left;}
.label_con,.gs_add{ width: 100%; overflow: hidden; background: #fcfcfc;}
.gs_add_con{ padding: 8px 15px; line-height: 22px; color: #999;}
.gs_add_con span{ color: #555;}
.gs_add ul{ padding: 10px; line-height: 24px; color: #666;}
.gs_add li{ border-bottom: 1px dashed #cacaca; padding: 10px;}
.gs_add li p.p1{ color: #333;}
.labels{ padding: 8px 15px 0; width: 213px; overflow: hidden; line-height:24px;}
.labels span{ float: left; margin-right: 10px; height: 24px;}
/*.labels span.l{ font-size: 12px;}*/
.labels span.b{ font-size: 16px;}
.labels span.cb{color: #d76413;}
.labels span.d7{color: #d76413}
.labels span.ac{color:#ac9171;}
.labels span.b7{ color: #63b796;}
/*.p_Label{ width: 100%; overflow: hidden; height: 27px; background: #f3f3f3; line-height: 30px; font-weight: bold; color: #666;}
.p_Label span{ width: 10px; background: #e9e9e9; float: left; height: 30px; margin-right: 8px;}*/
.gs_part_name{ font-size: 20px; font-weight: bold; color: #595758; padding: 15px 10px;}
.gs_part_name a{ color: #595758;}
.gs_part_list{ line-height: 24px; font-size: 14px; width: 274px; color: #6f6f6f; margin-bottom: 10px; padding-left: 10px;}
.gs_part_list li{ margin-bottom: 5px;}
.gs_part_list span{ height: 24px; line-height: 24px; padding: 0px 6px; float: left; background: #e9e9e9; color: #303030; margin-right: 10px;}
.gs_part_list a{ text-decoration: underline; color: #6f6f6f;}
.fazhan{ color: #333; font-weight: bold; text-indent: 10px; padding: 10px 0px;}
.jieduan{ padding-left: 10px;}
.jieduan span{float: left; background: #e9e9e9; color: #303030; margin-right: 5px; padding: 0px 6px;}
/*弹层 begin*/
.layer-top span,.layer-submit{background: url(../images/layer-sprite.png) no-repeat 0 0;}
.layer-top2 span,.layer-submit{background: url(../images/cha.png) no-repeat 0 3px; ;}

#mask{position: absolute;z-index: 999;;height: 100%;width: 100%;background:#aaa; filter:alpha(opacity:0); opacity: 0; left: 0;top: 0;display:none;}
#form-layer{position: fixed; z-index: 100000; left: 50%; top: 50%; margin: -110px 0 0 -190px; width: 378px; background:#f3f6fa; border: 1px solid #F1F0EF; color: #444; display:none; _position:absolute; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight/2))}
#form-layer .layer-top{height: 28px;background: url(../images/layer-top-bg.png) repeat-x;border-bottom: 1px solid #DDE5EF}
#form-layer .layer-top span{float: right;height:18px;width: 18px;margin: 5px;background-position: -112px -5px;text-indent: -999px;cursor: pointer;}
#form-layer ul{padding:12px 0 12px 40px}
#form-layer ul input{float: left;}
#form-layer ul li{clear: both;padding: 10px 0}
#form-layer li span{float: left;width:60px;line-height: 25px}
/*#form-layer .upload-btn{width: 92px;height: 25px;border: none;cursor: pointer;}*/
#form-layer .weibo-nub input,.layer-code input{border: 1px solid #A19FA7;height: 23px;line-height: 23px;margin-right: 5px}
#form-layer .layer-code input{width: 64px}
#form-layer .layer-submit{margin: 10px 0; padding: 5px 10px; /*background-position: 0 -26px;*/color: #fff;text-align: center;/*letter-spacing: 4px;*/cursor: pointer;font-size: 14px;border: none;}
#form-layer .verify{height: 22px;margin: 0 5px}
#form-layer .layer-code a{color: #E12924;}
#form-layer .hide{display:none;}
#form-layer .bind-btn{padding: 3px 10px;*padding: 3px 5px 1px;background: #F1921A;color: #fff;text-align: center;border: 1px solid red;cursor: pointer;}
#form-layer li em{font-style: normal;line-height: 2em;color: #E12924}
#form-layer ul .layer-desc{padding: 0 40px 0 0}

.confirm-layer_1{ position: fixed; z-index: 100000; left: 50%;top: 50%; margin: -186px 0 0 -210px;width: 420px;background:#f3f6fa; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; box-shadow: 5px 4px 24px #000;  -moz-box-shadow: 5px 4px 24px #000; -webkit-box-shadow: 5px 4px 24px #000; /*border: 1px solid #F1F0EF;*/color: #444;display:none;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight/2))}
.confirm-layer_1 .layer-top2{height: 35px; line-height: 35px; overflow: hidden; text-indent: 10px; background:#319897; position: relative; z-index: 0; border-bottom: 1px solid #DDE5EF}
.confirm-layer_1 .layer-top2 span{ position: absolute; right: 0px; top: 0px;  width: 23px;margin: 5px; text-indent: -999px;cursor: pointer;}
.layer-top2 font{font-size: 18px; color: #fff;}
.confirm-layer_1 ul{padding:12px 0 12px 40px}
.confirm-layer_1 ul input{float: left;}
.confirm-layer_1 ul li{clear: both; padding: 10px 0; font-size: 16px;}
.confirm-layer_1 li span{float: left; width:60px; line-height: 25px}
/*#confirm-layer .upload-btn{width: 92px;height: 25px;border: none;cursor: pointer;}*/
#confirm-layer_1 .weibo-nub input,.layer-code input{border: 1px solid #A19FA7;height: 23px;line-height: 23px;margin-right: 5px}
#confirm-layer_1 .layer-code input{width: 64px}
.layer-submit{ margin: 10px 0;  padding: 5px 25px; background:#319897; color: #fff; text-align: center; cursor: pointer; border: 1px solid #cbcbcb;  font-size: 14px; border: none; margin-right:25px}
.qxx{ background: #eee; color: #666; border:1px solid #cbcbcb;}
#confirm-layer_1 .verify{height: 22px;margin: 0 5px}
#confirm-layer_1 .layer-code a{color: #E12924;}
#confirm-layer_1 .hide{display:none;}
#confirm-layer_1 .bind-btn{padding: 3px 10px;*padding: 3px 5px 1px;background: #F1921A;color: #fff;text-align: center;border: 1px solid red;cursor: pointer;}
#confirm-layer_1 li em{font-style: normal;line-height: 2em;color: #E12924}
#confirm-layer_1 ul .layer-desc{padding: 0 40px 0 0}
.wanshan{ padding: 10px;}
.wanshan > div{ margin-bottom: 15px; display: inline-block; width: 100%;}
.wanshan span{ width: 80px; float: left; text-align: right;}
.wanshan label{ margin-right: 5px;}
.wanshan input{ width: 150px; height: 25px; border: 1px solid #ccc; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.wanshan input[type='radio']{ margin-right: 3px; width: 13px; height: 13px; overflow: hidden; border: none;}
.wanshan select{ width: 150px; height: 25px; overflow: hidden; border: 1px solid #ccc; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.float_erwei{ width: 120px; overflow: hidden; position: fixed; left: 10px; top: 110px;}
.float_erwei img{ width: 120px; height: 120px; overflow: hidden;}
.float_erwei h3{ font-weight: normal; color: #777; font-size: 13px; background: #eee; padding: 4px; margin-top: 5px;}
/*职位详情页面改版*/
.zw_top{ width: 701px; margin: 0 auto; padding-bottom:20px; overflow: hidden;  border-bottom: 1px solid #c6c6c6;}
.zw_top img{ width: 100px; height: 100px; overflow: hidden; border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;}
.zw_top_right{ float: left; width: 690px; overflow: hidden; margin-left: 20px;}
.zw_top_right h2{ font-size: 20px; color: #333;  float: left;}
.zw_top_right .h2_class{float: left; font-size: 14px; color: #555; line-height: 35px; margin-left: 5px; margin-right: 10px;}
.zw_top_right .h2_left{ font-size: 14px; color: #555;  line-height: 35px;}
.div_s{ color:#999;  width: 100%; overflow: hidden;}
.div_s span{ padding: 0 5px; color: #999999;}
.div_s font{ margin-right: 10px; line-height: 22px; float: left; margin-bottom: 5px;}
.zwxq_list label{ margin-bottom: 10px; font-size: 14px; color: #fff; margin-right: 6px; 
	height: 24px; line-height: 24px; padding:0 5px; float: left; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.zwxq_list label.a{ background: #71bc9f;}
.zwxq_list label.b1{ background: #7cbdbe;}
.zwxq_list label.c{ background: #ac9171;}
.zwxq_list label.d{ background: #d76413;}
.div_s .suqiu{ float: left; color: #666666; line-height: 22px; width: 280px;}
.div_s .suqiu div{overflow: hidden; width: 100%; white-space: nowrap; text-overflow:ellipsis;}
.div_s ul{ float: left; color: #aba9ac; font-size: 12px;}
.div_s label{  color: #555555; margin-right: 10px; height: 22px; line-height: 22px; float: left; }
.zwxq_list{ width: 100%;overflow: hidden; line-height: 22px; font-size: 16px; color: #555; margin-top: 12px;}
.Title_bg{ height: 32px; line-height: 32px; width: 100%; color: #fff;}
.Title_bg span{ float: left; font-size: 18px; color: #333;}
.Title_bg i{ width: 8px; height: 18px; background: #45c29d; margin-left:20px; float: left; margin-top: 7px; margin-right: 6px;}
.job-desc_con{ padding: 8px 0px 20px 20px; overflow: hidden; font-size: 14px; line-height: 26px;}
/*完善在线简历*/
.improve{width: 592px; height: 80px; margin: 10px 30px 20px 20px; background: #ededed;  color: #737373; /*padding-left: 13px;*/
-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.no_have a{ color: #737373; text-decoration: underline;}
.no_have a:hover{color: #45c29d;}
.improve span{ float: left;}
.improve span.wnshan_span{ margin-right: 15px; margin-left: 20px;}
.improve span.wanshan_resume{ max-width: 123px; overflow: hidden; white-space: nowrap; 
	text-overflow:ellipsis; margin-right: 15px; font-size: 14px;}
.improve span.no_have{ font-size: 14px; line-height: 80px; padding-left: 20px;}
.improve a.recommend_rocket{ float: right; width: 122px; height: 40px; line-height: 40px; 
	border: 1px solid #45c29d; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;  
	margin-right: 20px; color: #17b385; text-indent: 15px; margin-top: 19px; background: url(../images/jisuGoicon.png) right center no-repeat;}
.improve a.recommend_rocket:hover{background: #fff url(../images/jisuGoicon.png) right center no-repeat;}
.have_wanshan{ float: left; /*font-size: 16px;*/ line-height: 80px;}
.have_wanshan a{ color: #737373; text-decoration: underline; margin-right: 12px;}
.have_wanshan a:hover{color: #17b385;}
.have_all{ float: left; font-size: 14px; width: 378px; margin-top: 10px; margin-left: 40px;}
.have_list{ width: 100%; overflow: hidden; line-height: 30px;}
.have_list a{color: #737373; text-decoration: underline; margin-right: 15px;}
.have_list a:hover{ color: #17b385;}


/*上传成功*/
.sucess_yes{ width: 430px;/* height: 310px;*/ position: fixed; z-index: 20; top: 50%; margin-top: -155px; 
	left: 50%; margin-left: -215px; background: #fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.toudi_1,.toudi_3{ height: 290px; margin-top:-145px;}
/*.toudi_1 .sucess_then,.toudi_3 .sucess_then{ margin-top: 18px; margin-bottom: 25px;}*/
.toudi_2{ height: 254px; margin-top: -127px;}
.toudi_4 .sucessCon{padding: 80px 0 100px;}
.upload_success{ height: 260px; margin-top: -130px;}
.sucess_title{ width: 100%; height: 46px; line-height: 46px; background: #242d3c; color: #fff; font-size: 18px; font-weight: bold;  -moz-border-top-left-radius: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-top-right-radius: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px;}
.sucess_title span{ width: 150px; text-align: left; float: left; margin-left: 18px;}
.sucess_title i{width: 30px; height: 46px; margin-right: 10px; float: right; cursor: pointer; background: url(../images/gai_close.jpg) center 14px no-repeat;}
.sucess_title i:hover{ background: url(../images/gai_close.jpg) center -49px no-repeat;}
.sucess_con{ font-size: 24px; color: #555;  width: 100%; text-align: center; padding: 60px 0px 50px;}
.sucess_then{width: 100%; overflow: hidden; font-size: 16px; text-align: center; margin-top: 18px; margin-bottom: 25px;}
.sucess_then a{ color: #fff; background: #ef8680; display: inline-block; width: 86px; height: 40px;
 text-align: center; line-height: 40px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.sucess_then a.upload_jianliie{ display: none;}	
.sucess_then a:hover{ background: #e75349;}
.sucessCon{ padding: 50px 0px; width: 100%; overflow: hidden; text-align: center;}
.sucessCon input[type='button']{ font-size: 16px; width: 120px; text-align: center; color: #fff; 
	background: #ef867f; border: none; padding: 10px 0; cursor: pointer; margin-bottom: 15px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.sucessCon input[type='button']:hover{ background: #e75349;}
.suport_need{ width: 100%; overflow: hidden;}
.suport_need span{ width: 100%; overflow: hidden; display: block; font-size: 16px; color: #555; line-height: 26px;}
.notice{ color: #999; font-size: 14px; padding: 0px 90px; overflow: hidden; margin-top: 15px;}

/*选择要投递的简历*/
.sucessCon_send{ padding: 25px; overflow: hidden;}
.sucessCon_send p{ font-size: 16px; color: #555; font-weight: bold;}
.resume_list{ width: 100%; overflow: hidden; line-height: 26px; margin-top: 10px; }
.resume_list span{width: 12px; height: 12px; border: 1px solid #cbcbcb; margin-top: 6px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; float: left; font-size: 16px; color: #555; cursor: pointer; text-indent: 40px;  margin-right: 8px;}
.resume_list span:hover{border: 1px solid #17b384;}
.resume_list span.active{ background: url(../images/checkbox.png) center center no-repeat; border: 1px solid #17b384;}
.resume_list font{ float: left; font-size: 14px; width: 195px; overflow: hidden; white-space: nowrap; text-overflow:ellipsis;}
.resume_list a{ float: right; color: #555; text-decoration: underline; font-size: 14px; margin-left: 15px;}
.resume_list a:hover{color: #32b16c;}
.resume_list em{ float: left; color: #555; margin-left: 8px;}
.resume_default{ width: 260px; overflow: hidden; font-size: 14px; color: #999; text-align: center; margin: 0 auto; line-height: 24px;}
.resume_default span{width: 12px; height: 12px; border: 1px solid #cbcbcb; float: left; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; cursor: pointer; margin-top: 5px; margin-right: 5px;}
.resume_default span.active{background: url(../images/checkbox.png) center center no-repeat; border: 1px solid #17b384;}
.noResume{ font-size: 16px; color: #555; line-height: 28px;}
.noResume a{ color: #555; text-decoration: underline; font-weight: bold;}
.noResume a:hover{color: #17b385;}

/*相似职位*/
.similar_job{ padding: 15px 30px 20px 50px; overflow: hidden;}
.similar_tab{ width: 100%; overflow: hidden; font-size: 18px; color: #555; line-height: 32px;}
.similar_tab i{ width: 8px; height: 18px; background: #45c29d; float: left; margin-top: 7px; margin-right: 6px;}
.similar_tab span{color: #555;}
.similar_tab font{ margin: 0px 10px; font-weight: bold;}
.similar_con{ width: 100%; overflow: hidden; margin-top: 10px;}
.similar_list{ float: left; width: 217px; margin-bottom: 20px; padding-right: 10px;}
.similar_list img{ width: 59px; height: 59px; border: 1px solid #ededed;}
.similar_list div{ overflow: hidden; white-space: nowrap; text-overflow:ellipsis;}
.similar_list .zwmc{font-size: 16px; margin-bottom: 3px;}
.similar_list .zwmc a{ color: #333; font-size: 16px;}
.similar_list .zwmc a:hover{color: #17b385;}
.similar_list .salary{ font-size: 14px; color: #999;}
.similar_list .gsmz{ font-size: 14px; color: #555; margin-top: 5px;}
.zwmc_div{ width: 150px; float: right; font-family: '黑体';}
.seeMOre{ font-size: 16px;width: 100%; text-align: center; margin-top: 50px;}
.seeMOre a{ color: #999; text-decoration: underline;}
.seeMOre a:hover{ color: #32b16c;}
/*公司其他职位*/
.other_job{ width: 100%; overflow: hidden;}
.other_con{ padding: 0 15px; overflow: hidden;}
.other_list{ width: 100%; overflow:hidden; border-bottom: 1px dashed #e1e1e1; padding: 10px 0; line-height: 26px;}
/*.other_list:last-child{border-bottom: none;}*/
.other_list .zw_city{width: 100%; overflow: hidden;}
.other_list .zw_city span,.other_list .zw_city font{ float: left; color: #999;}
.other_list .zw_city span{ max-width: 160px; overflow: hidden; white-space: nowrap; text-overflow:ellipsis; margin-right: 10px; font-size: 16px;}
.other_list .salary{ font-size: 14px; color: #ff8155;}
.other_list .work_time{ color: #555;}
.other_list .work_time span{ color: #999; display: inline-block; margin: 0px 6px;}
.other_list .zw_city a{ color: #333;}
.other_list .zw_city a:hover{color: #32b16c;}
.seeMore_togs{ width: 100%; line-height: 45px; text-align: center;}
.seeMore_togs a{color: #45c29d;}
.seeMore_togs a:hover{color: #17b385;}


/*ie上传简历*/
.fujian_ie{ display: none;}
.upload_jianliie{ display: none;}
.ie_con{ width: 100%; overflow: hidden; text-align: center;}
.ie_con input[type='file']{ width: 70px; display: inline-block;}
.ie_con span{ display: inline-block; line-height: 30px; color: #269812; margin-top: -5px;}
.ie_con p{ font-size: 16px; color: #161616; line-height: 26px; width: 100%; overflow: hidden;}
.ie_con div.zhu{ color: #ff671d; font-size: 14px; margin-top: 20px; width: 100%; 
	overflow: hidden; margin-bottom: 15px;}


/*登陆后扫码*/
.hr_sao{
	width: 500px;
	height: 320px;
	background: url(../images/hrsao.jpg);
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -160px;
	margin-left: -250px;
	z-index: 1100;
}
.hr_sao span{
	width: 40px;
	height: 40px;
	background: url(../images/tanchu_close.png) center center no-repeat;
	display: block;
	position: absolute; 
	right: 0px;
	top: 0px;
}
.hr_sao img{
	width: 120px;
	height: 120px;
}
.hr_sao dl{
	width: 250px;
	text-align: center;
	margin: 60px auto 0;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
.hr_sao dt{
	margin-bottom: 20px;
}


/*for-majors*/
.major-list li{ width:116px; height:116px; margin-left:3px; margin-bottom: 5px; float:left; position:relative; z-index: 1}
.major-list li a, .major-list li a span{width:116px; height:116px; display:block;position:absolute;left:0;top:0}
.major-list li a span{border: 1px solid #eee; width: 114px; height: 114px; overflow: hidden;}
.major-list li a span.back-face{border:1px solid #f3a41c;}
.xueke{z-index:2; background:url(../images/baidu.jpg?v=20150601) no-repeat 0 0;}
.sohu{z-index:2;background:url(../images/58.jpg) no-repeat 0 0;}
.yijia{z-index:2;background:url(../images/landun.jpg) no-repeat 0 0;}
.anshuo{z-index:2;background:url(../images/525j.jpg) no-repeat 0 0;}
.weizhi{z-index:2;background:url(../images/yunhan.jpg) no-repeat 0 0;}
.popcorn{z-index:2;background:url(../images/360.jpg) no-repeat 0 0;}
.xinghuan{z-index:2;background:url(../images/jiguang.jpg) no-repeat 0 0;}
.tuso{z-index:2;background:url(../images/kuaiyidian.jpg) no-repeat 0 0;}
.back-face{z-index:1; background:#f3a41c; color: #232a30; text-align: center;}
.back-face h2{font-weight: normal; font-size: 17px; margin: 5px; margin-bottom:0px; padding-bottom:3px; border-bottom: 2px solid #232a30;}
.back-face div{ font-size: 16px; text-align: left; padding: 6px;}
.major-list li a{overflow:hidden}
.major-list li:hover a .back-face{z-index:3;}
