
.tao_left{ width: 243px; display: inline-block; float: left; color: #322d29; margin-top: 15px;}
.tao_left_con{ width: 223px; display: inline-block; padding: 10px; background: #fafafa;}
.tao_left_p{ padding-bottom: 8px; font-size: 18px; line-height: 30px; font-weight: bold; margin-top: 10px;}
.tao_left_cons{ padding-bottom: 10px;  width: 223px; overflow: hidden; word-wrap:break-word;}
.tao_left_cons:last-child{ border-bottom: none; margin-bottom: 0;}
.tao_left_cons a{ font-size: 16px; color: #322d29;  display: inline-block; line-height: 35px;  margin-right: 15px;}
.tao_left .ruzhi_a{ width: 100%; height: 243px; overflow: hidden;display: inline-block; 
	background: #fff; margin-bottom: 10px;}
.tao_left .ruzhi_a img{ width: 230px; height: 230px; margin: 6px; border:none;}
.saoma{ width: 100%; overflow: hidden; background: #fff; text-align: center; margin-top: 10px; padding: 40px 0; box-shadow: 2px 2px 2px #d0d0d0;}
.searchPart{width: 898px; border: 1px solid #cbcbcb; display: inline-block; position: relative; z-index: 1; overflow: hidden; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; margin-bottom: 20px;}
/*tao_right*/
.tao_right{ width: 763px;}
.taoyige{ width: 794px;  display: inline-block;float: left; border: 1px solid #D32F2F; border-right: 0px;}
.class_job{ width: 867px; padding: 9px 0; padding-left: 157px; line-height: 24px; color: #fff; 
	font-size: 18px; display: inline-block;}
.class_job span{ float: left;}
.all_c{line-height: 25px; float: left;}
.class_list{ position: relative; z-index: 1; float: left;}
.class_list div{width: 298px; display: none; position: absolute; z-index: 0; top: 24px;
 background: #fff; border: 1px solid #999; font-size: 16px;  padding: 25px; padding-right: 0px;}
.class_list div a{ color: #828181; margin-right: 30px; line-height: 30px;}
.class_list div a:hover{ color: #32b16c;}
.class_list h2{font-weight: normal; font-size: 18px; margin-right: 15px; padding:0 10px; height: 24px; line-height: 24px; cursor: pointer; position: relative;
 z-index: 1}
/*.class_list span.two{border:1px solid #919191;}*/
.class_list h2.active{ border: 1px solid #999; background: #fff; color: #555555;
	border-bottom: none;}
.form_div{ height: 36px; overflow: hidden; width: 508px;}
.taoyige input[type='text']{ width:480px; overflow: hidden; border: none; color: #5e5e5e; 
	font-size: 16px; font-family: 'Microsoft YaHei'; height: 100%; padding: 6px 15px;  float: left;}

#chakan{ width: 104px; overflow: hidden; height: 38px; float: left; -webkit-border-top-right-radius: 4px; -moz-border-top-right-radius: 4px; border-top-right-radius: 4px; -moz-border-bottom-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px;
	line-height: 38px;  background: #D32F2F; border: none; color: #fff; font-size: 18px; font-family: 'Microsoft Yahei'; cursor: pointer;}
#chakan:hover{background: #D32F2F;}
.city_chooseCon{ width: 94px; position: relative; z-index: 5; font-size: 16px; 
	text-align: center; border-right: 2px solid #5ccaa9; color: #6f736b;}
.choosing{ width: 94px; overflow: hidden; border: 2px solid #5ccaa9; color: #4c4c4c;
	 display: none; position: absolute; z-index: 100; top: 36px; left: -2px; 
	 background: #fff; text-indent: -25px; font-size: 16px; }
.choosing li{ line-height: 41px; cursor: pointer; text-indent: 0;}
.choosing li:hover{  background: #afafaf; color: #fff;}
.choosing li a{float:left; width:100%; text-align:center; text-indent:0; color:#5e5e5e;}
.choosing li a:hover{  background: #d9efe9; color: #555;}
.choosed{ line-height: 36px; cursor: pointer; text-indent: -20px; color: #555; 
	background:#fff url(../images/jt_green.jpg) 70px center no-repeat; font-size: 16px;}
/*首页轮播部分*/
.lunbo_top{ width: 1024px;height: 150px; position: relative; bottom: 150px; left: 50%; margin-left: -512px; z-index: 0;}
/*.banner_big{ display: inline-block; width: 100%; height: 320px; overflow: hidden; background: url(../images/banner_big.gif);}*/
/*高级搜索*/
.tao_search{ width: 100%; height: 150px; background:url(../images/hsbj_50.png) !important; background:none; filterrogidXImageTransform.Microsoft.AlphaImageLoader(enabled="true", sizingMethod="image", src="../images/hsbj_50.png");}


/*.search_line{ width: 100%; overflow: hidden; line-height: 42px; color: #706c6c; font-size: 14px;}
.search_line a{ margin-right: 10px; color: #706c6c;}
.search_line .right{ font-size: 14px;}*/
.search_con{ width: 888px; border: 1px solid #ddd; margin-bottom: 10px; background: #fcfcfc;}
.search_con p{ line-height: 38px; border-bottom:1px solid #ddd; text-indent: 18px; font-size: 16px; color: #363636;}
.search_part{ padding: 20px; width: 838px; display: inline-block; background: url(../images/chen.png) right 0px no-repeat;}
.search_part div{ /*width: 300px;*/ float: left; margin-right: 10px;}
.search_part > div{ margin-right: 0px;}
.sec{ float: left; line-height: 30px; font-size: 14px; color: #424242;}
.sec_w{ width: 80px; text-align: right;}
.search_part input,.dq_zw{  padding: 4px 0px 5px 5px; float: left; font-size: 14px; border:1px solid #cbcbcb; color: #333;  border-radius: 3px; -webkit-border-radius:3px; -moz-border-radius:3px; box-shadow:0 1px 3px rgba(0,0,0,0.08) inset; -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.08) inset; -khtml-box-shadow:0 1px 3px rgba(0,0,0,0.08) inset;}
.search_part input.qtss{ display: none; width:130px; }
.qtss{ display: none; width:130px; }
.gsts{ width: 218px; font-size: 12px; color: red; margin-left: 10px; margin-top: 2px;}
.dq_zw{ width: 230px;}
.Key_search{ width: 100%; /*overflow: hidden;*/ margin-top: 15px;}
.Key_search input{ width: 508px;}
.ss{ float: left; height: 32px; width: 90px; text-align: center; font-size: 15px; line-height: 32px; background: #565d69; border-radius: 3px; -webkit-border-radius:3px; -moz-border-radius:3px; color: #fff;}
/*.ss:hover{background: #319897; color: #fff;}*/
.resume{ padding: 15px; padding-bottom: 10px; width: 966px; overflow: hidden;}
.seles{ width: 65px; float: left; margin-right: 10px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; position: relative; border: 1px solid #cbcbcb; background: #fff; height: 30px;  text-indent: 5px;}
.seles_choose{ float: left; cursor: pointer; line-height: 30px; width: 100%; font-size: 14px;
 background: url(../images/sel_after.jpg) right center no-repeat;  color: #555;/* box-shadow: 0 1px 3px rgba(0,0,0,0.08) inset; 
 -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.08) inset;  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.08) inset;  -khtml-box-shadow: 0 1px 3px rgba(0,0,0,0.08) inset;*/}
.seles_single{background: url(../images/sel_after.png) 104px center no-repeat;}
.Key_search{ width: 100%; /*overflow: hidden;*/ margin-top: 24px;}
/*高级搜索改版*/
.senior_search{ width: 890px; overflow: hidden; margin-bottom: 20px;}
.inside_search{ background: #63b796; width: 100%; overflow: hidden; font-size: 16px;}
.inside_search_con{ padding: 10px 25px; overflow: hidden;}
.inside_search_con span{ float: left; color: #fff; line-height: 31px; margin-right: 10px;}
.inside_search_con input[type='text']{ width: 630px; padding: 5px 0px 5px 5px; border: none; border-bottom-left-radius: 3px; 
	border-top-left-radius: 3px; -moz-border-bottom-left-radius: 3px; -moz-border-top-left-radius: 3px; 
	-webkit-border-bottom-left-radius: 3px; -webkit-border-top-left-radius: 3px; font-size: 16px; float: left;}
.inside_search_con input[type='button']{ padding: 5px 15px 5px 15px; border: none; color: #fff; background: #565d69; 
	border-bottom-right-radius: 3px; border-top-right-radius: 3px; text-shadow:0 0.1px 0.1px #fff; font-size: 16px; float: left;}
.outside_search{ width: 848px; overflow: hidden; padding: 20px; border: 1px dotted #dbdbdb; display: none;}
.outside_search_list{ width: 100%; overflow: hidden; color: #666; margin-bottom: 10px;}
.outside_search_list span{ float: left; font-weight: bold; text-shadow:0 0.1px 0.1px #eee; width: 70px; text-align: right; line-height: 30px; margin-right: 10px;}
.outside_search_list ul{ float: left; color: #000; width: 760px;}
.outside_search_list ul li{ float: left; padding: 5px 15px; cursor: pointer; margin-bottom: 5px;}
.outside_search_list ul li.active{ background: #63b796; color: #fff; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.now_company{ padding: 4px 0px 4px 5px; width: 400px; font-size: 14px; border: 1px solid #cbcbcb; border-radius: 3px; -webkit-border-radius:3px; -moz-border-radius:3px; box-shadow:0 1px 3px rgba(0,0,0,0.08) inset; -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.08) inset; -khtml-box-shadow:0 1px 3px rgba(0,0,0,0.08) inset;}
.open{ float: left; font-weight: bold; color: #fff; margin-left: 20px; font-size: 18px; cursor: pointer;}
.open:hover{ color: #eee;}
.shouqi{ color: #63b796; font-weight: bold;}
/*会员专区banner部分*/
.banner_con{ width: 100%; overflow: hidden; margin-top: 16px; background: #fff; box-shadow: 1px 1px 3px #d0d0d0; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.num_part{ width: 100%; overflow: hidden; background: #bdc0c4; color: #fff; line-height: 34px; text-align: center; font-size: 16px;}
/*.num_part span{ width: 115px; text-align: center; height: 34px; line-height: 34px; 
	color: #fff; background: #5bc189; display: inline-block; font-size: 16px;}*/
.baodao_ul{ padding-top: 10px;margin-left: 30px; float: left;}
.baodao_ul,.baodao_list{ width: 310px; overflow: hidden;}
.baodao_list{ padding: 8px 0; overflow: hidden;}
.baodao_list img{width: 45px; height: 45px; float: left;}
.baodao_more{line-height: 34px;}
.baodao_more a{float: right; margin-right: 12px; color: #555;}
.an_right{float: left; width: 310px;}
.an_right span{ width: 4px; height: 21px; background: #67c391; float: left; margin-top: 2px;}
/*.yanjiu_right span{ width: 9px; height:35px; background: #ffad97;}*/
.an_right a{color: #555; font-size: 14px; float: left; width: 205px; margin-left: 10px;}
.an_right a.media_a{width: 254px; }
.an_right a:hover{color: #5ccaa9;}
.an_right div{ width:100%; overflow: hidden; font-size: 14px; line-height: 22px;}
.an_right p{ width: 100%; overflow: hidden; line-height: 20px;}
/*.an_right span{float: right; color: #999;}*/
/*职位介绍和公司介绍*/
.index_con{ width: 100%; display: inline-block; position: relative; z-index: 1;}
.jieshao{ width: 900px; padding: 0 20px 20px 20px; overflow: hidden; float: right;  background: #fff; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.jieshao_tb{ height: 32px; overflow: hidden; margin-bottom: -1px; /*position: relative; z-index: 1;*/}
.jieshao_tb span{ height: 30px; line-height: 30px; width: 102px; text-align: center; border: 1px solid #17b385; font-size: 16px;
	float: left; cursor: pointer; background: #fafafa;}
.jieshao_tb span:first-child{-moz-border-top-left-radius: 4px;  -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px;}
.jieshao_tb span:last-child{-moz-border-top-right-radius: 4px;  -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px;}
.jieshao_tb span.active{ background: #17b385; border-top: 1px solid #32b16c; color: #fff;}
.jieshao_list{ width: 100%; overflow: hidden; *border-bottom: 1px solid #dcdcdc; _border-bottom: 1px solid #dcdcdc; *+border-bottom: 1px solid #dcdcdc;}
.jieshao_list li{ padding: 15px; overflow: hidden; border: 1px solid #dcdcdc; margin-bottom: -1px; /*position: relative; z-index: 1;*/}
.jieshao_list li.greenborder_li{ border: 1px solid #D32F2F; box-shadow: 0px 0px 8px #d8f2ea inset; position: relative; z-index: 10;}
.jieshao_list li:last-child{margin-bottom: 1px;}
.jieshao_list_left{ width: 370px; overflow: hidden; margin-right: 8px; }
.jieshao_list_left a.zw_name{ float: left; max-width: 270px; color: #5ccaa9; font-size: 16px; font-weight: bold;
 overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-right: 10px;}
.jieshao_list_left a.zw_name:hover{color: #17b385;}
.jieshao_list_left p,.jieshao_list_right p{ font-size: 14px; color: #666;}
.jieshao_list_left p{ width: 100%; overflow: hidden; color: #666; line-height: 27px;}
.jieshao_list_left .brif,.jieshao_list_right .brif{ padding: 5px 0 0; color: #666;}
.brif_w{ padding-bottom: 10px;}
.jieshao_list_left .brif span,.jieshao_list_right .brif span{ margin: 0 6px; color: #999;}
.jieshao_list_right{ width: 310px; }
.jieshao_list_right .ac{ width: 310px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.jieshao_list_right .ac a{color: #ef867f; font-size: 16px; font-weight: bold;}
.jieshao_list_right .ac a:hover{color: #e85349;}
/*.tou_resume{ width: 45px; height: 96px; overflow: hidden; position: absolute; top: 2px; right: 1px; background: url(../images/tou_before.jpg); cursor: pointer;}
.tou_resume:hover{background: url(../images/tou_after.jpg);}*/
.time_fb{ width: 100%;overflow: hidden;}
.time_fb span{ color: #7e7e7e;  float: right; text-align: left;padding-left: 20px;
 background: url(../images/time.png) 0px center no-repeat; margin-right: 10px;}
.zz_gz{ color: #7c7c7c; line-height: 24px; height: 72px;}
.ware_fu{ width: 310px; overflow: hidden; margin-top: 5px;}
.ware_fu span{ float: left; margin-right: 10px; margin-bottom: 8px; color:#999; white-space: nowrap;}
.liuran_numbers{ width: 725px; overflow: hidden; display: inline-block; margin-top: 15px; color: #322d29;}
.liuran_numbers span{ float: right; margin-left: 15px;}
.liuran_numbers .sp1{ background: url(../images/resume.png) 0px 4px no-repeat; text-indent: 18px;}
.liuran_numbers .sp2{ background: url(../images/eye_see.png) 0px 6px no-repeat; text-indent: 20px;}
.liuran_numbers .sp3{ background: url(../images/time.png) 0px 4px no-repeat; text-indent: 18px;}
.search_list{ width: 890px; overflow: hidden; margin-bottom: 15px;}
.search_li{ width: 267px; overflow: hidden; position: relative; float: left; border: 1px dashed #b5b5b5; padding: 10px; margin-right: 10px; margin-bottom: 10px;}
.yifu{ width: 58px; height: 20px; overflow: hidden; position: absolute; bottom: 40px; right: 10px;}
.qiuzhi_info{width: 220px; overflow: hidden;}
.imgbot_bg{ width: 80px; height: 80px; background: url(../images/img_bg.png) 0px bottom no-repeat; cursor: pointer;}
.imgbot_bg img{ width: 72px; height: 72px; overflow: hidden; float: left;}
.qiuzhi_name{ margin-left: 10px; width: 130px; overflow: hidden;}
.qiuzhi_name p{ font-size: 16px; color: #565d69; width: 130px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.qiuzhi_name p.p_name{ font-size: 18px; line-height: 38px;}
.qiuzhi_info_brief{ color: #565d69; font-size: 15px; line-height: 27px; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.lebels{ width: 100%; height: 17px; overflow: hidden; word-break:break-all;  font-size: 14px; color: #565d69; margin-top: 10px; padding-top: 10px; border-top: 1px dashed #b5b5b5;}
.lebels code{ float: left; margin-right: 15px; font-family: '微软雅黑'}
.time_watch{ width: 100%; overflow: hidden;}
.time_watch span{ background: url(../images/time.png) 0px 1px no-repeat; color: #565d69; width: 60px; text-indent: 20px; font-size: 12px;}
/*定位*/
.fhone_black{width: 42px; height: 42px; overflow: hidden; right: 1px; top: 1px; position:absolute; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; background: url(../images/phone.gif) 8px 7px no-repeat; cursor: pointer;}
.ckjl_ck{ width: 42px; height: 92px; overflow: hidden; position: absolute; right: 1px; top: 50px; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; background: url(../images/ckjl.gif) 13px 7px no-repeat; cursor: pointer;}
/*淘人才弹出层*/
#spend_con,#yebz{ width: 280px; height: 200px; padding: 40px 55px; overflow: hidden; background: url(../images/tanchu_bg.png);display: none; position: fixed; top: 50%; margin-top: -140px; left: 50%; margin-left: -195px; z-index: 1000;}
#spend_con div,#yebz div{ position: absolute; bottom: 35px;}  
#spend_con p,#yebz p{ color: #666666; line-height: 40px;letter-spacing:1px;}
#spend_con p span,#yebz p span{ color: #d85448; font-weight: bold;}
#spend_con button,.aaa a{ width: 97px; text-align: center; height: 34px; line-height: 34px; overflow: hidden; float: left; cursor: pointer; border: none; margin-left: 15px; background: #ed8d26; color: #fff; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
#spend_con button.spend_none,.aaa a.spend_none{ background: #eeeeee; color: #666666;}
.yebz_cz{ width: 100%; overflow: hidden; margin-top: 10px;}
.yebz_cz a{ color: #006dba; text-decoration: underline; float: left; line-height: 30px;}
.yebz_cz a.go{ background: #0e98f4; color: #fff; text-decoration: none; width: 110px; height: 30px; margin-left: 30px; text-align: center; line-height: 30px;}

/*弹出简历*/
.jianliyulan{ width: 858px; height:96%; position: fixed; z-index: 1100; top:2%; left: 50%; margin-left: -429px; display: none; /* padding: 10px;*/ background: #00bdc3 url(../images/jianli_top.jpg) 0px 0px no-repeat;}
.jianliyulan iframe{ width: 100%;height: 100%;}
.close_btn{ position: absolute; z-index: 100; right: 27px; top: 37px; cursor: pointer; width: 49px; height: 14px; background: url(../images/close_word.png) 0px 0px no-repeat;}
.jianliyulan_con{ position: relative; height: 75%; width: 776px; overflow: hidden; margin: 115px auto 0; background: #fff;}
.load{ width: 49px; height: 14px; position: absolute; right: 100px; top: 37px; background: url(../images/load_word.png) 0px 0px no-repeat;}

/*个人中心*/
.person_center{ padding: 30px 25px; width: 1092px; border: 1px solid #ddd; background: #fcfcfc;}
.person_infor{ border-bottom: 1px dotted #d7d7d7; color: #666; font-weight: bold;  width: 100%; overflow: hidden; }
.person_infor span{ border-left: 4px solid #63b796; padding: 3px 0 3px 8px; margin: 5px 0px; float: left;}
.person_infor a{ float: right; margin-left: 5px; color: #06f;}
.person_con{ overflow: hidden; padding: 25px 20px 40px 20px;position: relative;}
.person_con img{ width:80px; height: 80px; overflow: hidden; float: left; margin-right: 15px;}
.person_con img.jian_img{ width: 125px; height: 85px;overflow: hidden;position: absolute;right: 90px; top: 5px;}
.person_con_right{ width: 430px; overflow: hidden; margin-right: 10px;}
.person_con_right p{ line-height: 28px; float: left; width: 350px;}
.person_con_right{ padding-top: 12px;}
.person_con_right p span{ padding: 0px 10px;}
.yixiang{ width: 1090px; height: 100%; *height: 600px; overflow: hidden; border: 1px solid #ddd; margin-top: 15px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;}
.yixiang ul{ width: 770px; overflow: hidden; line-height: 30px; color: #666; padding: 20px 0 30px 20px;}
.yixiang ul li{ float: left; width: 375px;}
.yixiang li span{ font-weight: bold; float: left; width: 60px; text-align: right;}
.qianru_resume{ width: 100%; overflow: hidden; background: #fff;}
.center_a{ margin-bottom: 10px;}
.center_a a{  padding: 10px 15px; color: #fff; float: left; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.center_a a.a1{ background: #67be9c; margin-right: 10px;}
.center_a a.a2{ background: #d76413;}
.slides{ width: 100%; overflow: hidden; padding:20px 0 8px; }
.instagram{ width: 126px; height: 126px; overflow: hidden; float: left; margin-right: 22px; cursor: pointer;}
.slides img{ width: 124px; height: 124px; overflow: hidden; position: relative;left: 0px; top: 0px; border: 1px solid #d6d6d6; cursor: pointer; cursor: pointer;}
.experience{ padding: 25px 20px; overflow: hidden; line-height:28px;}


.full{position: relative; width: 126px; height: 126px; overflow: hidden; float: left; margin-right: 22px; cursor: pointer; }
.hover{ position:absolute;  left:126px;  top:0;  width:126px;  height:126px; background:#ffb200; font-size: 18px; text-align: center; color: #fff;}
.slides .full .hover p span{font-size: 36px;}
.slides .full .hover p{ margin-top: 30px; display:block;}

/*职位搜索条件*/
.search_stander{ overflow: hidden; background: #fff;}
.stander_list:last-child{border:none}
.stander_list:first-child{padding-top: 15px;}
.search_jobresult .stander_list span{padding-left: 20px;}
.stander_list{ width: 100%; display: inline-block; margin-bottom: 8px; line-height: 20px;padding: 10px 16px ;border-bottom: 1px solid #eee;}
.stander_list>span{ float: left; color: #333; width: 45px;font-weight: 600;}
.stander_list .stander_div3 a{    float: left;
	color: #555;
    margin-right: 5px;
    padding: 5px 8px;
    height: 14px;
    line-height: 14px;}
.stander_list .stander_div3 a.active{
	background: #03A9F4;
	color: #fff;
}    
.stander_list .stander_div3 a:hover{
	background: #03A9F4;
	color: #fff;
} 
.search_stander_bg{ background: url(../images/down.gif) center bottom no-repeat; cursor:pointer;}
.addbg{ background: url(../images/up.gif) center bottom no-repeat;}
/*公司信息排序*/
.gs_rank{ width: 100%; margin-top: 20px; display: inline-block;}
.gs_rank_item{ padding: 10px 20px; background: #919191; overflow: hidden; font-size: 16px;}
.gs_rank_item div{ float: left; color: #fff;line-height: 32px;}
.gs_rank_item span{ float: left; line-height: 33px; padding: 0px 10px; text-align: center; 
 margin-right: 10px; cursor: pointer; color: #fff;}
.gs_rank_item span.active{background: #fff; color: #313131;}
.gs_rank_liu{ width: 100%; display: inline-block; margin-top: 10px;}
.box_con{ width: 100%; overflow: hidden; /*background: #fafafa; padding: 10px; padding-top: 15px;*/}
.gsmingcheng{ width: 100%; overflow: hidden;}
.gsmingcheng a{ color: #1f1f1f; font-size: 18px;}
.gsmingcheng a:hover{ color: #32b16c;}
.gs_img_a{ width: 158px; height: 158px; border: 1px solid #cbcbcb; display: block;  margin: 30px 30px 29px; position: relative; 
	z-index: 0; }
.gs_img_a img{ width: 158px; height: 158px;}
.posdiv_ul{position: absolute; bottom: 0px; left: 0;font-size: 16px; color: #fff; width: 160px; 
/*height: 220px;*/ overflow: hidden; line-height: 22px;/*background: #eee;*/ background: url(../images/gsinfo_bg.png) 0px 0px repeat;
 display:table; font-family: '黑体'; display: none;}
.gs_img_a ul{ width:100%; overflow: hidden; /*width: 196px; padding: 0px 12px; vertical-align:middle;display:table-cell;*/ /*_position:absolute; _top:50%; _left:50%;*/  /*_display: inline;*/}
.gs_img_a li{width: 100%; overflow: hidden; margin-bottom: 2px;}
.gs_img_a li i{float: left; width: 22px; height: 22px; background: url(../images/gsinfo_dot.png) center center no-repeat;}
.gs_img_a li span{float: left; width: 138px;}
.zw_ul{ padding: 5px 10px 10px; overflow: hidden; width: 207px;}
.zw_ul li{line-height: 22px;}
.zw_ul a{ color: #595656;}
.zw_ul a:hover{ color: #5dc560;}
.gs_labels{ width: 100%; overflow: hidden; color: #333; padding-bottom: 10px;border-top: 1px dashed #eee;}
.gs_labels p{ width: 100%; text-align: center; font-size: 16px; font-weight: bold; padding: 8px 0px;}
.gs_labels div,.gs_labels a{padding: 0px 30px; font-size: 14px;}
.gs_labels div{color: #777;}
.gs_labels a{float: left; color: #f57a3b;}
.load_more{ width: 100px; height: 32px; line-height: 32px; display: inline-block; background: #7acc9f;
 color: #fff; text-align: center;}
.load_more:hover{ background: #32b16c;}
/*首页右侧*/
.index_right{ width: 240px; float: left; display: inline-block;}
.enter_box{ width: 100%; background: #fff;display: inline-block;box-shadow: 1px 1px 2px #d1cbcb;}
.enter_fast,.enter_company{ width: 230px; height: 230px; overflow: hidden;  display: block; margin:10px auto;}
.enter_fast{background: url(../images/enterance.png) 0px 0px repeat;}
.enter_company{background: url(../images/companyenter.png) 0px 0px repeat;}
.banner1{ background: url(../images/banner3.jpg?v=20150623) center center no-repeat;}
.banner2{ background: url(../images/banner1.jpg?v=20150623) center center no-repeat;}
.banner3{ background: url(../images/banner2.jpg?v=20150623) center center no-repeat;}
/*全部职位分类*/
.all_divlist_border{
	width: 100%;
	display: inline-block;	
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	/*position: relative;*/
	/*z-index: 1000;*/
	background: #fff;
}
.all_divlist_border1{
	height: 129px;
}
.all_divlist_border2{
	height: 103px;
}
.all_divlist_border3{
	height: 77px;
}
.all_divlist_active{
	border-top: 1px solid #bdc0c5;
	border-bottom: 1px solid #bdc0c5;
}
.all_divlist_two{
	position: absolute;
	border: 1px solid #bdc0c5;
	padding: 25px 10px 15px 20px;
	background: #fff;
	left: 239px;
	display: none;
	position: absolute;
	top: 0px;
	z-index: 10;
	overflow: hidden;
}

.all_divlist_two1{
	top: 34px;

}
.all_divlist_two2{
	top: 165px;
}
.all_divlist_two3{
	top: 270px;
}
.all_divlist_two4{
	top: 375px;
}
.all_divlist_two5{
	top: 454px;
}
.all_divlist_two6{
	top: 559px;
}
.all_divlist_two > div{
	width: 500px;
	overflow: hidden;
	line-height: 30px;
	margin-bottom: 5px;
	}
.all_divlist_two > div span{
	float: left;
	font-size: 14px;
	color: #333;
	font-weight: bold;	
	width: 86px;
	margin-right: 20px;
	text-align: right;
	}
.all_divlist_two > div div{
	float: left;
	width: 370px;
	font-size: 12px;
	font-family: 'SimSun';
}
.all_divlist_two > div div a{
	float: left;
	margin-right: 15px;
	color: #555;
}
.all_divlist_two > div div a:hover{
	color: #5ccaa9;
}
.all_divclass{ width: 240px; float: left; height:660px/*position: absolute; z-index: 100;*/}
.all_fixed{position:fixed; top:0;z-index: 100;}
.all_absolute{ position: absolute; bottom: 0;}
.all_static{position: static;}
.all_divcon{ width: 240px; /*overflow: hidden;*/ background: #fff; -moz-border-radius: 4px; 
	-webkit-border-radius: 4px; border-radius: 4px; padding-bottom: 10px; position: absolute;}
.all_divcon p.til{ line-height: 34px; height: 34px; background: #bdc0c4; font-size: 16px; text-align: center; color: #fff; border-top-right-radius: 4px; border-top-left-radius: 4px;}
.all_divlist{ width: 210px;  border-bottom: 1px dashed #d6d7d7; overflow: hidden; position: absolute; z-index: 100; left: 15px; background: #fff;}
.all_divlist p{ text-indent: 30px;font-size:16px;font-weight: bold; color: #555; width: 100%; margin-top: 10px; line-height: 30px;}
.all_divlist p.jishu{ background: url(../images/allclass.png) 0px 7px no-repeat; font-size: 16px;}
.all_divlist p.cp{ background: url(../images/allclass.png) 0px -29px no-repeat; /*text-indent: 38px;*/}
.all_divlist p.design{ background: url(../images/allclass.png) 0px -108px no-repeat;}
.all_divlist p.yunying{ background: url(../images/allclass.png) 0px -66px no-repeat;}
.all_divlist p.market{ background: url(../images/allclass.png) 0px -146px no-repeat;}
.all_divlist p.function{ background: url(../images/allclass.png) 0px -190px no-repeat;}
.all_divlist div{ line-height: 26px; padding-bottom: 10px;}
.all_divlist div a{color: #363636; margin-right: 15px;}
.all_divlist div a:hover{ color: #5ccaa9;}

/*职位搜索没有结果*/
.noJob_ergou{ text-align: center; width: 100%; overflow: hidden; padding: 150px 0;}
.noJob_ergou div{ color: #636363; font-size: 18px; margin-top: 40px;}
.noJob_ergou a{ color: #ff5b5b; text-decoration: underline;}

/*公司搜素没有结果*/
.company_nojob{ width: 100%; background: #fff; text-align: center; padding: 50px 0px;}
.company_nojob div{color: #636363; font-size: 20px; margin-top: 50px;}


/*添加热门搜索部分*/
.taoyige_hotsearch{line-height: 39px; font-family: "宋体";
	color: #777;
	font-size: 12px;
	padding-left: 10px;
	clear: both;
}
.taoyige_hotsearch a{
	color: #D32F2F;
	margin-right: 15px;
}
.taoyige_hotsearch a:hover{color: #D32F2F;}
/*查看更多*/
.seeMore_index{
	width: 100%;
	margin:10px auto 30px;
	overflow:hidden;
	float: right;
}
.seeMore_index a{
	width: 104px;
	height: 34px; 
	line-height: 34px;
	color: #fff;
	float:right;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-indent: 36px;
	background:#5ccaa9 url(../images/morejobgo.png) 9px center no-repeat;
}
.seeMore_index a:hover{ background: #17b385 url(../images/morejobgo.png) 9px center no-repeat;}
.stander_list .city_other{
	float: left;	
	position: relative;
	z-index: 1;
}
.stander_list .city_other b{
	font-weight: normal;
	/*width: 100%;*/
	padding: 0 10px;
	display: inline-block;
}
.stander_list .city_other b.qi_bg{
	color: #fff;
	background: #22ae64;
}
.stander_list ul.qitaCity{
	display: none;
	position: absolute; 
	top: 40px;
	left: -79px;
	width: 210px;
	background: #fff;
	border: 1px solid #a3a3a3;
	padding: 15px;
}
.stander_list ul.qitaCity li{
	margin-bottom: 5px;
}
/*公司搜索页面优化*/
.tao_change{width: 100%;}

/*首页*/
.function_jieshao{ width: 100%; overflow: hidden; margin-top: 20px; margin-bottom: 30px;}
.function_lists{ float: left; width: 126px;  margin-right: 12px; padding: 10px 16px 10px 90px;}
.function_lists:last-child{ margin-right: 0px;}
.function_lists div{line-height: 22px;height: 66px}
.function_lists p{ font-size: 16px; color: #555; font-weight: bold; line-height: 39px;}
.function_lists1{ background: #f1f1f1 url(../images/function_jiehsao.png) 20px center no-repeat;}
.function_lists2{ background: #f1f1f1 url(../images/function_jiehsao.png) -237px center no-repeat;}
.function_lists3{ background: #f1f1f1 url(../images/function_jiehsao.png) -498px center no-repeat; margin-right: 0px;}
/*职位简介和公司简介*/
.jianjie{ width: 718px; display: inline-block; border: 1px solid #cbcbcb; border-bottom: none; 
	font-family: "宋体"; font-size: 12px; line-height: 28px; color: #555; background: #fafafa;}
.jianjie span{ float: left; width:358px; text-align: center; }
.jianjie span.zhi1{ border-right: 1px solid #cbcbcb;}


/*内聘研究院和媒体报道*/
.searchandreport{ width: 720px; float: right; padding: 20px; overflow: hidden; background: #fff; 
-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.search_left{ float: left; width: 330px;}
.search_left p.search_til,.report_right p.report_til{font-weight: bold; text-indent: 40px; border-bottom:1px solid #cbcbcb; line-height: 36px; font-size: 16px;}
.search_left p.search_til{ background: url(../images/searchreport.jpg) 16px -40px no-repeat;}
.report_right p.report_til{ background: url(../images/searchreport.jpg) 18px 8px no-repeat; text-indent: 52px;}
.report_right{ float: right; width: 340px; overflow: hidden;}
.search_fuhe{ width: 100%; padding: 20px 0; overflow: hidden;}
.search_fuhe img{ width: 130px; height: 90px; float: left; margin-right: 10px;}
.search_fuhe div.search_fuhediv{ float: left; width: 190px;}
.search_fuhe div.search_fuhediv p{ font-size: 16px; margin-bottom: 10px; width: 100%; overflow: hidden;}
.search_fuhediv p a{ color: #333;}
.search_fuhediv p a:hover{ color: #5ccaa9;}
.search_fuhediv div{ color: #777; font-size: 14px; line-height: 21px; height: 63px; overflow: hidden;}
.search_link{ width: 100%; overflow: hidden; line-height: 42px; }
.search_link a{ float: left; color: #333; max-width: 330px; overflow: hidden; text-overflow:ellipsis; 
	white-space: nowrap; margin-right: 10px; background: url(../images/dot.jpg) 0px center no-repeat; text-indent: 11px;}
.search_link a:hover{ color: #5ccaa9;}
/*查看更多*/
.seemoresearch{ color: #5ccaa9; width: 300px; padding-right: 30px; text-align: right; background: url(../images/jisuGoicon.png) right center no-repeat; display:inline-block;}
.seemoresearch:hover{background: url(../images/jisuGoicon_after.png) right center no-repeat; color: #17b385;}
/*高级搜索*/
.jobresult_search{width: 698px; /*overflow: hidden;*/ display: inline-block; border: 1px solid #cbcbcb; -moz-border-radius: 4px; 
	-webkit-border-radius: 4px; border-radius: 4px; margin-bottom: 20px; padding: 0px 20px; padding-right: 0;}
.jobresult_search p{ width: 100%; display: inline-block; line-height: 44px; color: #222b30; font-size: 16px;}
.jobresult_search > div{ float: left; width: 231px; margin-bottom: 20px;}
.jobresult_search span.search_span{ float: left; line-height: 32px; color: #333;}

/*职位搜索页面的下拉*/
.seles{ width: 146px; margin-right: 10px;}
.seles_hide{ display: none;  -moz-border-radius: 4px; -webkit-border-radius: 4px;
border-radius: 4px; max-height: 250px; overflow: auto; position: absolute;
z-index: 1; top: 30px; left: -1px; width: 146px; border: 1px solid #cbcbcb;
background: #fff;}
.seles_hide li{line-height: 30px; color: #999;}
.seles_hide li:hover{background: #d9efe9; color: #555;}

/*公司搜索页面*/
.gsdiv{ width: 550px; float: left; margin-left: 18px;}
.gsdiv p.b7{ color: #666;}
.gsdiv p.b7 a{ font-size: 16px; color: #333; font-weight: bold; margin-right: 8px;}
.gsdiv p.b7 a:hover{color: #5ccaa9;}
.gsdiv .brif{ line-height: 30px;}
.gsdiv .brif a{ color:#666; }
.gsdiv .brif a:hover{ color:#5ccaa9; }
.gsdiv .brif span{ margin: 0 8px;}
.gsdiv .div_s{color: #999; line-height: 24px;}
.gsdiv .div_s span{ margin-right: 12px;}
.gssearch_img{ float: left; width: 100px; height: 100px; overflow: hidden; border: 1px solid #eee; margin-left: 10px;} 
.gssearch_img img{ width: 100px; height: 100px; overflow: hidden;}
.stander_div3{float: left; color: #999; width: 780px;}

