.pin-container {
    position: relative;
}
.container::before{
    display: table;
    content: " ";
}
.detail-title {
    background-color: #fff;
    padding: 0 19px;
    line-height: 48px;
    margin-bottom: 22px;
    font-size: 16px;
}
.detail-title a {
    color: #A4AEB5;
}
.editing .detail-left .edit-box {
    background-color: #fff;
    padding: 35px 19px 25px;
    margin-bottom: 22px;
    position: relative;
}
.editing .detail-left .edit-box > h4 {
    margin: 5px 0 40px;
    font-weight: 700;
}
.editing .detail-left .edit-box .form-group > .control-label {
    font-size: 16px;
    text-align: center;
    padding-right: 0;
    font-weight: 400;
}
.editing .detail-left .edit-box .control-label span {
    display: inline-block;
    color: #FF0000;
}
.editing .detail-left .edit-box .col-lg-7 {
    width: 420px;
}
.editing .detail-left .edit-box .thumb {
    position: absolute;
    top: 99px;
    right: 19px;
}
.pull-right {
    float: right !important;
}
.btn-group-putao {
    margin: 0 -5px;
}
.btn-group-putao > div {
    padding: 0 5px;
}
.btn-group-putao .btn {
    float: left;
    width: 100%;
}
.btn-group-putao .btn input[type="radio"], .btn-group-putao .btn input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}
.btn-group .btn.active {
    background-color: #2eab23 !important;
    border-color: #2eab23 !important;
}
.btn-default:hover {
    color: #fff !important;
    background-color: #2eab23 !important;
    border-color: #2eab23 !important;
    background-image: none;
}
.btn-group-putao > div:nth-child(n+4) {
    padding-top: 10px;
}
.btn-group-putao > div {
    padding: 0 5px;
    padding-top: 0px;
}

.editing .detail-left .edit-box .thumb img {
    margin-bottom: 10px;
    width: 180px;
    height: 180px;
}
.editing .detail-left .edit-box .thumb span {
    width: 180px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    top: 135px;
    right: 0px;
    font-size: 12px;
    padding: 5px;
}
.webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #4CAC33;
    padding: 0 15px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    height: 34px;
    line-height: 34px;
}
.editing .detail-right .edit-box {
    background-color: #fff;
    padding: 20px 14px;
    margin-bottom: 22px;
    position: relative;
}
.editing .detail-right .edit-box > h4 {
    color: #9CA5B4;
    font-weight: 700;
}
.editing .detail-right .edit-box > p {
    font-size: 16px;
    color: #9CA5B4;
    line-height: 32px;
}