.wrapper_content {
    width: 1200px;
    margin: 60px auto 0;
    padding-bottom: 15px;
}
.user_bindSidebar {
    width: 232px;
}

.user_bindSidebar {
    width: 232px;
    float: left;
    margin-left: 150px;
}
.user_sideBarmenu {
    border-right: 1px solid #E3EBE9;
    text-align: right;
    line-height: 40px;
}
.user_sideBarmenu li a.hover_ac, .user_sideBarmenu li a:hover {
    border-right: 2px solid #00b38a;
    padding-right: 28px;
    color: #00b38a;
}

.user_sideBarmenu li a {
    color: #777;
    font-size: 14px;
    display: block;
    padding-right: 30px;
}
.user_userinfo_content1 {
    float: left;
    width: 580px;
    margin-left: 120px;
    position: relative;
}
.userinfo_edit #userinfoEditForm {
    display: none;
}
.c_section {
    margin-bottom: 40px;
    position: relative;
}
.userinfo_edit {
    width: 400px;
}
.userinfo_edit .hadInfo {
    position: relative;
    text-align: center;
}
.userinfo_edit .hadInfo .edit_link {
    text-align: left;
    position: absolute;
    left: 50%;
    top: 2px;
    margin-left: 70px;
    padding-left: 20px;
    line-height: 18px;
    color: #00b38a;
    font-size: 16px;
    background: url(../images/icon-editf.png) no-repeat left center;
    cursor: pointer;
}
.userinfo_edit .avatar, .userinfo_edit .view_avatar {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    overflow: hidden;
    border-radius: 50%;
}
.userinfo_edit .hadInfo .view_nickname {
    font-size: 18px;
    margin-top: 20px;
    color: #333;
}
.userinfo_edit .hadInfo .view_nickname span {
    display: inline-block;
    vertical-align: middle;
}
.userinfo_edit .hadInfo .man {
    background: url(../images/icon-man.png) no-repeat;
}
.userinfo_edit .hadInfo .icon-gender {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.userinfo_edit .hadInfo .view_position {
    color: #555;
    font-size: 14px;
    margin-top: 10px;
}
.userinfo_edit .hadInfo .view_introduce {
    color: #555;
    font-size: 14px;
    margin: 12px 0 40px;
}
.userinfo_edit .avatar, .userinfo_edit .view_avatar {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    overflow: hidden;
    border-radius: 50%;
}
.userinfo_edit .avatar img {
    display: block;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.userinfo_edit .avatar_upload {
    display: none;
}
.userinfo_edit .input_box {
    margin-bottom: 20px;
    position: relative;
}
.userinfo_edit input[type=text], .userinfo_edit textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    margin-top: 0;
    padding: 12px 0;
    font-size: 14px;
    color: #555;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #ededed;
    transition: border .2s ease-in 0s;
}

input[type=text], input[type=password], textarea {
    font-family: "Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
}

input[type=text], input[type=password] {
    border: 2px solid #ededed;
    outline: 0;
    font: 20px/32px Arial,"Hiragino Sans GB","微软雅黑","宋体";
    width: 600px;
    height: 30px;
    padding: 6px 10px;
    margin-top: 20px;
    transition: border .2s ease-in 0s;
}
.userinfo_edit .userinfo_sex {
    height: 26px;
    line-height: 26px;
}
.magic-radio, .magic-checkbox {
    position: absolute;
    display: none;
}
.userinfo_edit .userinfo_sex .magic-radio:checked+label, .userinfo_edit .userinfo_sex .magic-checkbox:checked+label {
    color: #333;
}

.userinfo_edit .userinfo_sex .magic-radio+label, .userinfo_edit .userinfo_sex .magic-checkbox+label {
    margin-right: 40px;
    color: #555;
}

.magic-radio+label, .magic-checkbox+label {
    position: relative;
    display: inline-block;
    padding-left: 28px;
    margin-right: 20px;
    cursor: pointer;
    vertical-align: middle;
    font-size: 16px;
    line-height: 16px;
}
.userinfo_edit .toolbar .btn {
    width: 100%;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    min-width: 66px;
    height: 30px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    border: 0;
    border-radius: 3px;
    background-color: #00b38a;
}
.userinfo_edit .tips {
    color: #999;
    margin-top: 12px;
    text-align: center;
}

.c_section .tips {
    color: #999;
    margin-top: 5px;
}
.magic-radio:checked+label:before {
    border: 1px solid #00b38a;
}
.magic-radio+label:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #00b38a;
}
.magic-radio+label:before, .magic-checkbox+label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 14px;
    height: 14px;
    content: '';
    border: 1px solid #ededed;
}
.magic-radio+label:before {
    border-radius: 50%;
}

/*账号绑定*/
.user_bindContent {
    float: left;
    width: 580px;
    margin-left: 120px;
    position: relative;
}
.c_section>dt {
    font-size: 16px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #D9D9D9;
}
.c_section .operate {
    color: #019875;
    cursor: pointer;
}
.c_section>dd {
    padding: 10px 0;
}
.c_section>dd {
    color: #555;
    padding: 30px 0;
    clear: both;
}
.user_thirdLogin {
    margin-top: 22px;
    width: 674px;
    line-height: 24px;
    font-size: 14px;
}
.user_thirdLogin dt {
    float: left;
    width: 38px;
}
.user_thirdLogin dt img {
    margin-top: 4px;
}
.user_thirdLogin dd {
    float: left;
    padding-left: 0;
}
.user_thirdLogin dd a {
    color: #019875;
}

/*账号绑定弹窗*/
#colorbox, #cboxOverlay, #cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}
#colorbox {
    outline: 0;
}
#cboxTopLeft {
    width: 13px;
    height: 13px;
    background: #3a3a3a;
    opacity: .5;
    filter: alpha(opacity=50;);
}
#cboxTopCenter {
    height: 13px;
    background: #3a3a3a;
    opacity: .5;
    filter: alpha(opacity=50;);
}
#cboxTopRight {
    width: 13px;
    height: 13px;
    background: #3a3a3a;
    opacity: .5;
    filter: alpha(opacity=50;);
}
#cboxMiddleLeft {
    width: 13px;
    background: #3a3a3a;
    opacity: .5;
    filter: alpha(opacity=50;);
}

#cboxMiddleLeft, #cboxBottomLeft {
    clear: left;
}
#cboxContent {
    overflow: hidden;
    background: #fff;
}

#colorbox, #cboxContent, #cboxLoadedContent {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

#cboxContent {
    position: relative;
}
#cboxLoadedContent {
    margin-top: 44px;
}
p.bding_title {
    font-size: 18px;
    text-align: center;
    color: #333;
    margin-bottom: 0;
}
.popup {
    font: 14px/22px "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial;
    color: #555;
    padding: 36px 30px;
    width: 440px;
    overflow: hidden;
}
.popup p {
    margin: 0 0 25px;
}
#bindEmail .form_body, #bindPhone .form_body, #changePhone .form_body {
    width: 290px;
    margin: 0 auto;
}
.input_item:first-child {
    z-index: 2;
    margin-top: 0;
}
.input_item {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 20px;
}
.area_code {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    float: left;
    width: 50px;
    height: 44px;
    padding-right: 22px;
    line-height: 44px;
    cursor: default;
}
.area_code:after {
    position: absolute;
    right: 8px;
    top: 19px;
    display: block;
    content: '';
    width: 10px;
    height: 5px;
    background: url(../images/code86_a209722.png) no-repeat;
}
.area_code_list {
    max-height: 216px!important;
}
.area_code_list {
    position: absolute;
    left: 0;
    top: 46px;
    z-index: 10;
    display: none;
    width: 200px;
    max-height: 288px;
    border: 1px solid #eee;
    overflow-y: scroll;
    background-color: #fff;
}
.area_code_list dl {
    line-height: 36px;
    cursor: default;
}
.area_code_list dt {
    padding: 0 12px;
    color: #999;
    background-color: #FBFBFB;
}
.area_code_list dd {
    padding: 0 12px;
    color: #555;
}
.area_code_list dd span {
    float: right;
}
#bindPhone input, #changePhone input {
    margin-top: 0;
}
.popup input[type=text], .popup input[type=password] {
    background: none!important;
    border-left: 0;
    border-top: 0;
    border-right: 0;
}
.area_code_list+input {
    padding-left: 72px!important;
}
input[type=text], input[type=password] {
    border: 2px solid #ededed;
    outline: 0;
    font: 20px/32px Arial,"Hiragino Sans GB","微软雅黑","宋体";
    width: 600px;
    height: 30px;
    padding: 6px 10px;
    margin-top: 20px;
    transition: border .2s ease-in 0s;
}
input[type=text], input[type=password] {
    height: 44px;
}
input.input_warning {
    border-color: #ff4351;
}
input.input {
    width: 290px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    padding: 0;
    font-size: 14px;
}
.input_tips {
    position: relative;
    z-index: 2;
    display: block;
    color: #fd5f39;
    background: url(../images/info_03c90e8.png) left 3px no-repeat;
    background-size: 14px;
    font-size: 12px;
    padding-left: 20px;
    line-height: 18px;
    margin-top: 4px;
}
.input_group {
    height: auto;
    position: relative;
}

.input_group {
    height: 40px;
}
.yzm {
    position: absolute;
    right: 0;
    top: 1px;
    z-index: 1;
    width: 98px;
    line-height: 38px;
    color: #777;
}
.reflash {
    position: absolute;
    right: 0;
    top: 1px;
    z-index: 2;
    height: 40px;
    width: 98px;
}
.popup a {
    color: #00b38a;
    text-decoration: none;
}
#bindPhone .input_group .btn, #changePhone .input_group .btn {
    width: 110px;
    font-size: 14px;
    height: 46px;
    line-height: 46px;
}
.input_group>input.last_child {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    height: 43px;
    font-size: 14px;
    padding: 0;
    background: 0 0;
    border: 0;
    color: #00b38a;
}
.input_group>input.last_child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.verify_tips {
    margin-top: 12px;
    color: #777;
}
.verify_tips .verify_tips_main, .verify_tips .verify_tips_count_down {
    display: none;
    padding: 0;
}
.verify_tips .auto_phone {
    outline: 0;
    text-decoration: none;
    color: #00b389;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    font-size: 14px;
}
#bindEmail .btn.btn_link, #bindPhone .btn.btn_link, #changePhone .btn.btn_link {
    font-size: 16px;
    height: 46px;
    color: #333;
    background: 0 0;
    width: 100px;
}
#bindEmail .form_body .btn_block, #bindPhone .form_body .btn_block, #changePhone .form_body .btn_block {
    height: 46px;
    width: 190px;
    border-radius: 3px;
    font-size: 16px;
    background: #00b38a;
}
.popup .btn_s, .popup .btn {
    font-size: 20px;
    background: #00b38a;
    padding: 0 25px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    height: 37px;
    color: #fff;
    border: 0;
    line-height: 37px;
    transition: background .2s ease-in 0s;
}
#cboxTitle {
    font-size: 18px;
    color: #fff;
    background: #00b38a;
    height: 44px;
    width: 100%;
    text-indent: 1em;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 44px;
}

#cboxClose {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    width: auto;
    background: 0;
}
#cboxClose {
    cursor: pointer;
}
#cboxClose {
    position: absolute;
    top: 12px;
    right: 12px;
    background: url(../images/controls.png) no-repeat;
    width: 19px;
    height: 19px;
    text-indent: -9999px;
}
#cboxMiddleRight {
    width: 13px;
    background: #3a3a3a;
    opacity: .5;
    filter: alpha(opacity=50;);
}
#cboxBottomLeft {
    width: 13px;
    height: 13px;
    background: #3a3a3a;
    opacity: .5;
    filter: alpha(opacity=50;);
}
#cboxBottomCenter {
    height: 13px;
    background: #3a3a3a;
    opacity: .5;
    filter: alpha(opacity=50;);
}
#cboxBottomRight {
    width: 13px;
    height: 13px;
    background: #3a3a3a;
    opacity: .5;
    filter: alpha(opacity=50;);
}
#cboxOverlay {
    background: url(../images/overlay.png) repeat 0 0;
}

#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
}

/*隐私设置*/
.resumePrivacy {
    width: 580px;
    margin-left: 120px;
}
.switch_resume {
    font-size: 16px;
    color: #555;
    position: relative;
}
.switch_resume ul.select_content li {
    position: relative;
    margin-bottom: 44px;
}
.switch_resume ul.select_content li span.btn_radio {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #E9E9E9;
    vertical-align: text-bottom;
    cursor: pointer;
}
.switch_resume ul.select_content li span.btn_title {
    display: inline-block;
    font-size: 14px;
    color: #333;
    margin-left: 6px;
}
.switch_resume ul.select_content li span.btn_radio_active {
    background: url(../images/select_radio_93dabc4.png) no-repeat center center;
    background-size: 14px 14px;
}
.switch_resume ul.select_content li span.btn_tip {
    font-size: 14px;
    color: #333;
}
.switch_resume ul.select_content li p {
    font-size: 14px;
    color: #999;
    margin-left: 28px;
    line-height: 22px;
    margin-top: 12px;
}
.switch_resume ul.select_content li .ipt_content {
    position: relative;
    display: inline-block;
    margin-top: 26px;
    margin-left: 25px;
}
.switch_resume ul.select_content li .ipt_content input {
    display: inline-block;
    width: 300px;
    box-sizing: border-box;
    height: 44px;
    font-size: 14px;
    padding: 8px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #f4f4f4;
}
.switch_resume ul.select_content li .ipt_content span.ipt_btn {
    display: inline-block;
    vertical-align: bottom;
    margin-left: -8px;
    background: #00b38a;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 24px;
    cursor: pointer;
}
.switch_resume ul.select_content li #companySuggestion {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    border: 1px solid #00b38a;
    width: 296px;
    max-height: 113px;
    overflow-y: scroll;
    z-index: 999;
}
.switch_resume ul.select_content li .company_list {
    margin-top: 15px;
    margin-left: 27px;
}
.switch_resume ul.select_content li .company_list li {
    position: relative;
    margin-bottom: 14px;
    color: #333;
}
.switch_resume ul.select_content li .company_list li i {
    margin-left: 22px;
    color: #00b38a;
    cursor: pointer;
    font-size: 14px;
}
.user_modifyContent {
    float: left;
    width: 400px;
    margin-left: 120px;
    position: relative;
}
#updatePswForm input[type=text], #updatePswForm input[type=password] {
    height: 34px;
    width: 100%;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom-width: 1px;
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}
.c_section span.error {
    margin: 5px 0 10px;
}
span.error {
    display: block;
    margin: 5px 0 10px;
    font-size: 12px;
    color: #fd5f39;
    text-align: left;
    background: url(../images/error_727fcc2.png) 0 center no-repeat;
    background-size: 14px;
    padding-left: 20px;
    line-height: 22px;
}
#updatePswForm input[type=submit] {
    border-color: #00b38a;
    width: 100%;
    height: 46px;
    margin: 0;
    background-color: #00b38a;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}